{% extends 'base2.html.twig' %}
{% block title %}
<title>OutWithUs- Mot de passe oublié</title>
{% endblock %}
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url({{asset('Front/assets/img/Capture.PNG')}})">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>OutWithUs</span></h2>     
          </div>
        </div>
      </div>


    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->



<div id="main">
  <!-- Post -->
<section class="post">
<header class="major">
<span class="date">April 25, 2017</span>
<h1>Mot de passe<br />
oublié</h1>
</header>
 <div class="section-content">
          <div class="col-md-12">
            <fieldset>
             {{ form(emailForm) }}
            </fieldset>
          </div>
 </div>		  


</section> 
</div>

{% endblock %}