{% extends 'base.html.twig' %}
{% block body %}

<br /><br /><br /><br />


       <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Liste des Catégories</h3>
        <div class="row mb">
          <!-- page start-->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                  <tr>
                 
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th class="hidden-phone">Modifier</th>
                    <th class="hidden-phone">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
         
          <tr {% for c in categorieres %}>

          
            <td>{{ c.nom }}</td>
            <td>{{ c.color }}</td>
            <td><a href="{{ path('upd',{'id':c.id}) }}">Modifier</a></td>
            <td><a href="{{ path('s',{'id':c.id}) }}">Supprimer</a></td>



        </tr {% endfor %}>
                </tbody>
              </table>
            </div>
          </div>
          <!-- page end-->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>

{% endblock %}