{% extends 'base2.html.twig' %}
{% block title %}
<title>OutWithUs- Modifier votre commentaire</title>
{% endblock %}
{% block body %}
<br/><br/><br/>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Modifier votre commentaire</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
      </ol>
    </div>

  </div>
</section>
<!-- End Breadcrumbs -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

  
    <div class="row mt">
      <div class="col-lg-12">
        
        <div class="form-panel">
          <div class="form">
            {{ form_start(f,{'attr':{'class':'cmxform form-horizontal style-form'}}) }}
              <div class="form-group ">
                <label class="form-label">Votre Commentaire</label>
                <div class="col-lg-10">
              
                  {{form_widget(f.content,{'attr':{'class':'form-control'}})}}
                 
                </div>
              </div>
            
              <div class="form-group">
                <div class="col-3">
                 
                  {{form_widget(f.Modifier,{'attr':{'class':'btn btn-danger w-100'}})}}
                </div>
              </div>
                      {{ form_end(f) }}
          </div>
        </div>
       
      </div>
     
    </div>
   



  </div>
       
</div>

</div>
 

</section> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 {% endblock %}